In [1]:
import pandas as pd
import numpy as np
pd.__version__

'1.4.1'

In [5]:
import seaborn as sns
df = sns.load_dataset('diamonds')
df.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [6]:
df.groupby('cut').mean()

,carat,depth,table,price,x,y,z
cut,,,,,,,
Ideal,0.702837,61.709401,55.951668,3457.541970,5.507451,5.520080,3.401448
Premium,0.891955,61.264673,58.746095,4584.257704,5.973887,5.944879,3.647124
Very Good,0.806381,61.818275,57.956150,3981.759891,5.740696,5.770026,3.559801
Good,0.849185,62.365879,58.694639,3928.864452,5.838785,5.850744,3.639507
Fair,1.046137,64.041677,59.053789,4358.757764,6.246894,6.182652,3.982770

In [7]:
df.groupby('cut').median() # todas las columnas por defecto.

           carat  depth  table   price      x     y     z
cut
Ideal       0.54   61.8   56.0  1810.0  5.250  5.26  3.23
Premium     0.86   61.4   59.0  3185.0  6.110  6.06  3.72
Very Good   0.71   62.1   58.0  2648.0  5.740  5.77  3.56
Good        0.82   63.4   58.0  3050.5  5.980  5.99  3.70
Fair        1.00   65.0   58.0  3282.0  6.175  6.10  3.97

In [8]:
df.groupby('cut')['carat'].median()#agrupar por una columna.

cut
Ideal        0.54
Premium      0.86
Very Good    0.71
Good         0.82
Fair         1.00
Name: carat, dtype: float64

In [9]:
df.groupby('cut')['carat'].count()

cut
Ideal        21551
Premium      13791
Very Good    12082
Good          4906
Fair          1610
Name: carat, dtype: int64

In [10]:
df.groupby('cut')['carat'].max()

cut
Ideal        3.50
Premium      4.01
Very Good    4.00
Good         3.01
Fair         5.01
Name: carat, dtype: float64

In [11]:
for i in [0,1,2,3,'hola']:
    print(i)

0
1
2
3
hola

In [12]:
for key_group, group in df.groupby('cut'):
    grouped_price = group['price'].mean()
    
    print('cut: {}, Price: {} \n'.format(key_group, grouped_price))

cut: Ideal, Price: 3457.541970210199

cut: Premium, Price: 4584.2577042999055

cut: Very Good, Price: 3981.7598907465654

cut: Good, Price: 3928.864451691806

cut: Fair, Price: 4358.757763975155

In [43]:
df.groupby(['cut', 'color'])['price'].mean().to_frame() # con to.frame() se convierte una serie a dataframe, el mismo resultado se puede lograr al usar doble corchete

                       price
cut       color
Ideal     D      2629.094566
          E      2597.550090
          F      3374.939362
          G      3720.706388
          H      3889.334831
          I      4451.970377
          J      4918.186384
Premium   D      3631.292576
          E      3538.914420
          F      4324.890176
          G      4500.742134
          H      5216.706780
          I      5946.180672
          J      6294.591584
Very Good D      3470.467284
          E      3214.652083
          F      3778.820240
          G      3872.753806
          H      4535.390351
          I      5255.879568
          J      5103.513274
Good      D      3405.382175
          E      3423.644159
          F      3495.750275
          G      4123.482204
          H      4276.254986
          I      5078.532567
          J      4574.172638
Fair      D      4291.061350
          E      3682.312500
          F      3827.003205
          G      4239.254777
          H      5135.683168
          I      4685.445714
          J      4975.655462

In [41]:
def mean_kilo(x):
    return np.mean(x)/1000

In [44]:
df.groupby(['cut', 'color'])['price'].aggregate(['min', np.mean, max, mean_kilo]).head(10) #colocarle multiples agregaciones al groupby

               min         mean    max  mean_kilo
cut     color
Ideal   D      367  2629.094566  18693   2.629095
        E      326  2597.550090  18729   2.597550
        F      408  3374.939362  18780   3.374939
        G      361  3720.706388  18806   3.720706
        H      357  3889.334831  18760   3.889335
        I      348  4451.970377  18779   4.451970
        J      340  4918.186384  18508   4.918186
Premium D      367  3631.292576  18575   3.631293
        E      326  3538.914420  18477   3.538914
        F      342  4324.890176  18791   4.324890

In [45]:
dict_agg = {'carat':[min, max], 'price':[np.mean, mean_kilo]} #definir un diccionario con agregaciones para pasarle a group by.
dict_agg

{'carat': [<function min>, <function max>],
 'price': [<function numpy.mean(a, axis=None, dtype=None, out=None, keepdims=<no value>, *, where=<no value>)>,
  <function __main__.mean_kilo(x)>]}

In [46]:
df.groupby(['cut', 'color']).aggregate(dict_agg) # pasasrle un diccionario de agregaciones a groupby con agregaciones a cada columna.

                carat              price
                  min   max         mean mean_kilo
cut       color
Ideal     D      0.20  2.75  2629.094566  2.629095
          E      0.20  2.28  2597.550090  2.597550
          F      0.23  2.45  3374.939362  3.374939
          G      0.23  2.54  3720.706388  3.720706
          H      0.23  3.50  3889.334831  3.889335
          I      0.23  3.22  4451.970377  4.451970
          J      0.23  3.01  4918.186384  4.918186
Premium   D      0.20  2.57  3631.292576  3.631293
          E      0.20  3.05  3538.914420  3.538914
          F      0.20  3.01  4324.890176  4.324890
          G      0.23  3.01  4500.742134  4.500742
          H      0.23  3.24  5216.706780  5.216707
          I      0.23  4.01  5946.180672  5.946181
          J      0.30  4.01  6294.591584  6.294592
Very Good D      0.23  2.58  3470.467284  3.470467
          E      0.20  2.51  3214.652083  3.214652
          F      0.23  2.48  3778.820240  3.778820
          G      0.23  2.52  3872.753806  3.872754
          H      0.23  3.00  4535.390351  4.535390
          I      0.24  4.00  5255.879568  5.255880
          J      0.24  2.74  5103.513274  5.103513
Good      D      0.23  2.04  3405.382175  3.405382
          E      0.23  3.00  3423.644159  3.423644
          F      0.23  2.67  3495.750275  3.495750
          G      0.23  2.80  4123.482204  4.123482
          H      0.25  3.01  4276.254986  4.276255
          I      0.30  3.01  5078.532567  5.078533
          J      0.28  3.00  4574.172638  4.574173
Fair      D      0.25  3.40  4291.061350  4.291061
          E      0.22  2.04  3682.312500  3.682313
          F      0.25  2.58  3827.003205  3.827003
          G      0.23  2.60  4239.254777  4.239255
          H      0.33  4.13  5135.683168  5.135683
          I      0.41  3.02  4685.445714  4.685446
          J      0.30  5.01  4975.655462  4.975655

In [48]:
def f_filter(x):
    return mean_kilo(x['price']) > 4

In [49]:
df.groupby('cut').filter(f_filter)

       carat      cut color clarity  depth  table  price     x     y     z
1       0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3       0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
8       0.22     Fair     E     VS2   65.1   61.0    337  3.87  3.78  2.49
12      0.22  Premium     F     SI1   60.4   61.0    342  3.88  3.84  2.33
14      0.20  Premium     E     SI2   60.2   62.0    345  3.79  3.75  2.27
...      ...      ...   ...     ...    ...    ...    ...   ...   ...   ...
53928   0.79  Premium     E     SI2   61.4   58.0   2756  6.03  5.96  3.68
53930   0.71  Premium     E     SI1   60.5   55.0   2756  5.79  5.74  3.49
53931   0.71  Premium     F     SI1   59.8   62.0   2756  5.74  5.73  3.43
53934   0.72  Premium     D     SI1   62.7   59.0   2757  5.69  5.73  3.58
53938   0.86  Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74

[15401 rows x 10 columns]

In [50]:
df.groupby('cut').filter(f_filter)['cut'].unique()

['Premium', 'Fair']
Categories (5, object): ['Ideal', 'Premium', 'Very Good', 'Good', 'Fair']